/.phpunit.cache
/bootstrap/ssr
/bootstrap/cache/*
/database/*.sqlite*
/node_modules
/public/build
/public/hot
/public/storage
/storage/app/*
/storage/app/private/*
/storage/app/public/*
/storage/framework/cache/*
/storage/framework/cache/data/*
/storage/framework/views/*
/storage/framework/testing/*
/storage/framework/sessions/*
/storage/framework/compiled.php
/storage/framework/config.php
/storage/framework/down
/storage/framework/events.scanned.php
/storage/framework/maintenance.php
/storage/framework/routes.php
/storage/framework/routes.scanned.php
/storage/framework/schedule-*
/storage/framework/services.json
/storage/*.key
/storage/pail
/storage/logs/*
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/vendor
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
